<configuration>
   <system.webServer>

     <!-- indicates that the server.js file is a node.js application 
     to be handled by the iisnode module -->

     <handlers>
       <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
     </handlers>

     <!-- use URL rewriting to redirect the entire branch of the URL namespace
     to server.js node.js application; for example, the following URLs will 
     all be handled by server.js:
     
         
     -->

     <rewrite>
       <rules>
         <rule name="ReverseProxy" stopProcessing="true">
    <match url="(.*)" />
    <action type="Rewrite" url="https://portal.whse.com:85/{R:1}" />
    <serverVariables>
        <set name="HTTP_X_ORIGINAL_HOST" value="{HTTP_HOST}" />
        <set name="HTTP_X_FORWARDED_FOR" value="{REMOTE_ADDR}" />
        <set name="HTTP_X_FORWARDED_PROTO" value="https" />
    </serverVariables>
</rule>
       </rules>
     </rewrite>

     <!-- exclude node_modules directory and subdirectories from serving
     by IIS since these are implementation details of node.js applications -->
     
     <security>
       <requestFiltering>
         <hiddenSegments>
           <add segment="node_modules" />
         </hiddenSegments>
       </requestFiltering>
     </security>    
     
   </system.webServer>
 </configuration>